/* This is in order to elemenate space  */
body {
  margin: 0;
  padding: 0;
}
/* I have used grid style in order to fil logo with list */
header{
  background-color: #35424a;
  min-height: 40px;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
padding-top: 18px;
margin:0;

}
/* In order to create navigation menu in top of the website, I used inline */
nav li {
  display: inline;
  margin: 4px;
}
/* to elemenate underlined link I set text-decoration to none */
nav li a {
  color: white;
padding: 28px;
  text-decoration: none;

}
/* it is for hover and tex inside */
nav li a:hover {
 color: orange;
 border: 1px solid black;
 background-color: #313c43;

}

article {
text-align: center;
padding-bottom: 0;

}
article div {
  border: 2px solid #44708a;
}
#div2 {
  background-color: #9bb9cb;
}
iframe{
  border: 2px solid black;

}
/* to make design more similar with navgition and footer, I used bachground color for body part */
 body {
  background-color: #cdd2d6;

}
/* In order to distinguish the webpage where person is, I used active */
.active {
  background-color: #5f7988;
  color: orange;


}
aside img {
  margin: 2px;
  padding: 2px;

}
